	body,p,div,ul,ol,
	h1,h2,h3,h4,h5,h6,
	table,tr,td,dt,dd,
	dl,video,input,img
{
	margin:0;
	padding:0;
	border:none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
p,h4,h5{
	cursor:pointer
}
li{
	list-style:none;
	margin:0;
	padding:0;
}
img{
	border:0;
}
body{
	width:100%;
	min-width: 320px;
	height:auto;
	background: #f8f8f8;
	font-family: '微软雅黑','黑体';
}

.account{
	width:100%;
	height:100%;
	
}
.acc-cen{
	margin:0 10%;	
	padding:40px 0 0;
	height:100%;	
	background: #fff;
}

/*head start*/
.acc-top{
	height:40px;
	margin:0 30px;
	overflow: hidden;
}

/*成功状态*/
.acc-cen .acc-top .posssucce{
	background: #3899eb;
	color:#fff;
}
.acc-cen .acc-top .posssucce .acc-in{
    border-color: transparent transparent transparent #3899eb;
}
.acc-cen .acc-top .posssucce .pos-num{
	background: #fff;
	color:#3899eb;
}
/*成功状态结束*/


.acc-top .poss{
	width:33.2%;
	height:100%;
	float: left;
	position: relative;
	background: #ddd;
	font-size: 14px;
	line-height: 40px;
	color:#f9f9f9;
}
.acc-top .poss .pos-num{
	width:18px;
	height:18px;
	display: inline-block;
	line-height: 18px;
	background: #999;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	font-size: 14px;
	text-align: center;
	color:#fff;
	margin:12px;
}
.acc-top .acc-bugle{
	background: #ddd;
    position: absolute;
    top: -15px;
    right: -19px;
}
.acc-top .acc-bugle .acc-out{
	border-color:transparent transparent transparent #f8f8f8;
}
.acc-top .acc-bugle .acc-out,
.acc-top .acc-bugle .acc-in
{
	display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 19px;
}
.acc-top .acc-bugle .acc-in{
    border-color: transparent transparent transparent #ddd;
    margin-left: -47px;
}

/*head end*/

/*Enter login account  start*/
.acc-form{
	width:50%;
	height:300px;
	margin:30px auto;
	float: none;
}
input{
	background: none;
	border:0;
	outline: none;
}
.input{
	width:70%;
	margin:auto;
	margin-top: 20px;
	height:70px;
}
.input p{
	font-size: 14px;
	color:red;
}
.inpu{
	width:100%;
	height:62px;
	margin:auto;
	overflow: hidden;	
	border-bottom:1px solid #3899eb;
}
.error-border{
	border-bottom:1px solid #f2564d;
}
.inpu input{
	width:88%;
    font-size: 15px;
    color:#3e3e3e;
    padding-top:30px ;
    padding-bottom: 30px;
    float: right;
    background: none;
    border:0;
    outline: none;
}
.inpu input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 0px solid #CCC!important;
    }
.inpu img{
	float: left;
	width:26px;
	height:28px;
	margin-top: 24px;
}
.change-cole{
	float: none;
	width:133px;
	height:43px;
	display: inline-block;
	margin-top: 10px;
}
.cole-img{
	width:133px;
	height:100%;
	display: inline-block;
	margin-left: 5px;
	margin-top: 0px;
}
button{
	background: rgba(0,0,0,0);
}
.buton{
	width:174px;
	height:40px;
	background: #3899eb;
	outline: none;
	border:0;
	font-size: 24px;
	text-align: center;
	margin:auto;
	display: block;
	margin-top: 90px;
	color:#fff;
	cursor: pointer;
}
/*Enter login account end*/