	body,p,div,ul,ol,
	h1,h2,h3,h4,h5,h6,
	table,tr,td,dt,dd,
	dl,video,input,img
{
	margin:0;
	padding:0;
	border:none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
p,h4,h5{
	cursor:pointer
}
li{
	list-style:none;
	margin:0;
	padding:0;
}
img{
	border:0;
}
body{
	width:100%;
	height:auto;
	background: #fff;
	font-family: 微软雅黑;
}
 @media (min-width:1200px){

 	/*head start*/
.xhead{
	width:100%;
	height:64px;
	position: fixed;
	z-index: 1000;
	top:0;
	left:0;
	/*background:rgba(0,0,0,0.1);*/
}

.xnav{
	width:80%;
	height:100%;
	margin:0 auto;
}
.xnav_ul{
	width:60%;
	height:100%;
	line-height: 11px;
	float: left;
}
.xnav_ul .no_margin a {
	display: block;
	width:71px;
	height:45px;
	margin-top: 11px;
}

.xnav_ul .no_margin,
.nav_log .no_margin
{
	margin-left:0;
}
.xnav_ul li{
	width:64px;
}
.xnav_ul li{
	float: left;
	margin-left: 10%;
}
.xnav_ul li a,
.nav_log li a
{
	color:#fff;
	font-size:20px;
}
.xnav_ul li a:hover{
     font-size: 22px;
     color:#005aff;
}

	 /*下拉列表*/
	 .xnav_ul .nohover a:hover{
		 font-size:20px;
		 color:#fff;
	 }
	 #poll_down{
		 width:100%;
		 height:0px;
		 top:64px;
		 left:0px;
		 position:absolute;
		 clear:both;
		 /*display:none;*/
		 transition:1s all ease;
		 -moz-transition:1s all ease;
		 background:rgba(0,0,0,0);
		 overflow:hidden;
	 }
	 #poll_down .pull_first{
		 margin-left:24%;
	 }
	 #poll_down li{
		 width:95px;
		 height:64px;
		 line-height:60px;
		 font-size:12px;
		 text-align:center;
		 float: left;
		 margin-left:20px;
	 }
	 #poll_down li a:hover{
		 font-size: 22px;
		 color:#005aff;
	 }
	 #poll_down .down_last{
		 border-bottom:0;
	 }
	 /*下拉列表结束*/

.texttab{
	width:20%;
	height:100%;
	font-size:20px;
	color:#fff;
	line-height:64px;
    float:left;
    margin-left: 2%;
}


.xnav .nav_log {

	line-height:11px;
	float:right;
	padding-left: 15px;
	padding-right: 15px;
}
.nav_log li{
	float: left;
}
.top_cli{
	width:40px;
	height:25px;
	float: left;
	display: none;
}
.top_cli img{
	width:40px;
	height:25px;
	float: left;
	padding-top: 15px;
}
#xnav_ul{
	display: none;
}
/*head end*/
/*登录*/
.login{
	position: fixed;
	top:0;
	left: 0;
	z-index: 99;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.4);
}
#wlog,#enwlog{
display: none;	
}
.xlog{
	
	width:500px;
	height:800px;
	position: fixed;
	right:0;
	top:64px;
	z-index: 100;
	overflow: hidden;
    background: rgba(0,0,0,0.2);	
}
#sign a{
  padding: 2px 3px 5px 3px;
  border:1px solid #fff;
}
#log,#enlog{
	display: none;
}
#signbj,#ensignbj{
	display: none;
}
.form{
	width:348px;
	height:512px;
	margin: auto;
	position: absolute;
    left:0;
    top:-120px;
    right:0;
    bottom:0;
}
input{
	background: none;
	border:0;
	outline: none;
}
.input{
	margin-top: 30px;
	height:70px;
}
.input p{
	font-size: 14px;
	color:red;
}
.inpu{
	width:100%;
	height:65px;
	overflow: hidden;
	
	border-bottom:1px solid #fff;
}
.inpu input{
	width:285px;
    font-size: 15px;
    color:#fff;
    padding-top:30px ;
    padding-bottom: 30px;
    float: right;
    background: none;
    border:0;
    outline: none;
}
.inpu img{
	float: left;
	width:26px;
	height:28px;
	margin-top: 24px;
}
.rember{
	width:150px;
	height:40px;
	margin:auto;
	margin-top: 65px;
	float: left;
}
.rember p{
	float: right;
	color:#fff;
	font-size: 18px;
}
.rember .wite{
	float: left;
	display: block;
	width:29px;
	height:16px;
	background: #fff;
	border-radius: 8px;
	margin-top: 3px;
	cursor:pointer;
}
.rember .wite .dot{
	display: block;
	width:16px;
	height:16px;
	background: #76c4fb;
	border-radius: 50px;
	cursor: pointer;
}
button{
	background: rgba(0,0,0,0);
}
.buton{
	width:174px;
	height:40px;
	outline: none;
	border:0;
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	color:#fff;
	cursor: pointer;
	float: right;
}
.close{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	cursor: pointer;
}
/*注册*/
.sign{
	display: none;
}
.sign .input{
	margin-top: 15px;
}
.sbuton{
	float: none;
	margin-left: 80px;
}


/*背景*/
/* video{
	 position: fixed;  
     right: 0px;  
     bottom: 0px;  
     min-width: 100%;  
     min-height: 100%;  
     height: auto;  
     width: auto;
     z-index: -9999;
}
source{
	 min-width: 100%;  
     min-height: 100%;  
     height: auto;  
     width: auto; 
}*/
/*背景结束*/
/*banner*/
.banner{
	width:100%;
	height:500px;
	 background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
	position:relative;
}
	 .banner_iaas{
		 width:100%;
		 height:500px;
		 background:#9dc1b5;
		 background-size:cover;
		 -moz-background-size:cover;
		 -webkit-background-size:cover;
	 }
	 .banner_paas{
		 width:100%;
		 height:500px;
		 background:#a1afc9;
		 background-size:cover;
		 -moz-background-size:cover;
		 -webkit-background-size:cover;
	 }
.ba_center{
	width:78%;
	height:300px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
    margin:auto;
}
.ban_left{
	margin-top:160px;
	float: left;
}
.paas{
	font-size:26px ;
	color:#fff;
}
.ban_left .paas img{
	width:41px;
	height:27px;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}
.banner p{
   font-size:26px ;
   color:#fff;
}
.ba_center img{
	width:418px;
	height:298px;
	float: right;
	margin-top: 60px;
}
/*banner end*/
/*详情*/

.decenter{
	width:100%;
	height:745px;
	background: #fff;
}
.dea_cen{
	width:78%;
	height:100%;
	margin:auto;
	clear: both;
}
.center_ul{
	width:120px;
	height:200px;
	float: left;
	margin-top: 43px;
	font-size: 17px;
	color:#000;
	text-align: center;
}

.center_ul .active{
	color:#63aee4;
}

.center_ul li{
	width:100%;
	height:40px;
	line-height: 45px;
	font-size:14px;
/*	margin-top: 10px;
	padding-top: 7px;*/
	padding-bottom: 7px;
	cursor: pointer;
	color:#4b4b4b;
	border-bottom: 1px solid #797979;
}
.center_ul li span{
	display: block;
	position: relative;
	top:18px;
	width:10px;
	height:10px;
	border-radius: 50px;
	border:1px solid #97d7ff;
}
.center_right{
	margin-top: 50px;
	float: right;
	width:80%;
	height:100%;
}
.center_right .cen_p{
	font-size:26px ;
	color:#000;
	margin-left: 10px;

}
.hr{
	width:100%;
	height:1px;
	clear: both;
	display: block;
}
.center_right p{
	font-size: 14px;
	color:#000;
}
.cen_dea{
	margin-top: 25px;
}
.cen_img{
	margin-top: 30px;
	box-shadow: 0 5px 9px #ccc;
}
#cen_right #cen_first{
	display: block;
}
#cen_right div{
	display: none;
}
/*详情结束*/


	 /*footer start*/
	 /*底部*/

	 .footer{
		 width:100%;
		 height:300px;
		 clear: both;
		 background:#787878;
	 }
	 .footer_center{
		 width:57%;
		 height:300px;
		 margin:0 auto;
	 }
	 .footer_ul_first{
		 width:100px;
		 height:180px;
		 float: left;
		 margin-top: 40px;
	 }
	 .footer_ul_first li{
		 line-height: 12px;
		 width:100%;
	 }
	 .footer_ul_first .footerfirst{
		 font-size: 18px;
	 }
	 .footer_ul_first li a{
		 font-size: 14px;
		 color:#fff;
	 }
	 .footer_ul_cen{
		 float: left;
		 margin-left: 30%;
	 }
	 .footer_ul_rig{
		 float: right;
	 }

	 .footer_bottom{
		 width:100%;
		 height:30px;
		 clear:both;
		 padding-top:35px;
	 }
	 .footer_center .last{
		 width:50%;
		 height:25px;
		 text-align: center;
		 font-size: 14px;
		 color:#fff;
		 clear:both;
		 float:left;
	 }
	 .footer_center .forth_last{
		 width:50%;
		 height:25px;
		 text-align: center;
		 font-size: 14px;
		 color:#fff;
		 float:right;
	 }
	 /*footer end*/





}

/*笔记本------------------------------------*/
@media (min-width:990px) and (max-width:1199px){

/*head start*/
.xhead{
	width:100%;
	height:64px;
	position: fixed;
	z-index: 1000;
	clear: both;
	top:0;
	left:0;
	/*background: rgba(0,0,0,0.3);*/
}

.xnav{
	width:85%;
	height:100%;
	margin:0 auto;
}
.xnav_ul{
	width:60%;
	height:100%;
	line-height: 25px;
	float: left;
}
.xnav_ul .no_margin a {
	display: block;
	width:71px;
	height:45px;
	margin-top: 11px;
}

.xnav_ul .no_margin,
.nav_log .no_margin
{
	margin-left:0;
}
.xnav_ul li{
	width:64px;
}
.xnav_ul li{
	float: left;
	margin-left: 10%;
}
.xnav_ul li a,
.nav_log li a
{
	color:#fff;
	font-size:20px;
}
.xnav_ul li a:hover{
     font-size: 22px;
     color:#005aff;
}

	/*下拉列表*/
	.xnav_ul .nohover a:hover{
		font-size:20px;
		color:#fff;
	}
	#poll_down{
		width:100%;
		height:0px;
		top:64px;
		left:0px;
		position:absolute;
		clear:both;
		/*display:none;*/
		transition:1s all ease;
		-moz-transition:1s all ease;
		background:rgba(0,0,0,0);
		overflow:hidden;
	}
	#poll_down .pull_first{
		margin-left:24%;
	}
	#poll_down li{
		width:95px;
		height:64px;
		line-height:60px;
		font-size:12px;
		text-align:center;
		float: left;
		margin-left:20px;
	}
	#poll_down li a:hover{
		font-size: 22px;
		color:#005aff;
	}
	#poll_down .down_last{
		border-bottom:0;
	}
	/*下拉列表结束*/

.texttab{
	width:20%;
	height:100%;
	font-size:20px;
	color:#fff;
	line-height:64px;
    float:left;
    margin-left: 2%;
}


.nav_log {
	line-height: 25px;
	float:right;
	padding-right: 10px;
	padding-left: 10px;
}
.nav_log li{
	float: left;
}
.top_cli{
	width:40px;
	height:25px;
	float: left;
	display: none;
}
.top_cli img{
	width:40px;
	height:25px;
	float: left;
	padding-top: 15px;
}
#xnav_ul{
	display: none;
}
/*head end*/
/*登录*/
.login{
	
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 99;
	background: rgba(0,0,0,0.3);
}
#wlog,#enwlog{
display: none;	
}
.xlog{
	width:500px;
	height:800px;
	position: fixed;
	right:0;
	top:64px;
	z-index: 100;
	overflow: hidden;
    background: rgba(0,0,0,0.3);	
}
#sign a{
  padding:1px;
  border:1px solid #fff;
}
#log,#enlog{
	display: none;
}
#signbj,#signbj{
	display: none;
}
.form{
	width:348px;
	height:512px;
	margin: auto;
	position: absolute;
    left:0;
    top:-90px;
    right:0;
    bottom:0;
}
input{
	background: none;
	border:0;
	outline: none;
}
.inpu{
	width:100%;
	height:65px;
	overflow: hidden;
	margin-top: 25px;
	border-bottom:1px solid #fff;
}
.input{
	margin-top: 15px;
	height:70px;
}
.input p{
	font-size: 14px;
	color:red;
}
.inpu input{
	width:285px;
    font-size: 15px;
    color:#fff;
    padding-top:30px ;
    padding-bottom: 30px;
    float: right;
    background: none;
	border:0;
	outline: none;
}
.inpu img{
	float: left;
	width:26px;
	height:28px;
	margin-top: 24px;
}
.rember{
	width:150px;
	height:40px;
	margin:auto;
	margin-top: 65px;
	float: left;
}
.rember p{
	float: right;
	color:#fff;
	font-size: 18px;
}
.rember .wite{
	float: left;
	display: block;
	width:29px;
	height:16px;
	background: #fff;
	border-radius: 8px;
	margin-top: 3px;
	cursor:pointer;
}
.rember .wite .dot{
	display: block;
	width:16px;
	height:16px;
	background: #76c4fb;
	border-radius: 50px;
	cursor: pointer;
}
button{
	background: rgba(0,0,0,0);
}
.buton{
	width:174px;
	height:40px;
	outline: none;
	border:0;
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	color:#fff;
	cursor: pointer;
	float: right;
}
.close{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	cursor: pointer;
}
/*注册*/
.sign{
	display: none;
}
.sign .inpu{
	margin-top: 10px;
}
.sbuton{
	float: none;
	margin-left: 80px;
}






/*banner*/
	.banner{
		width:100%;
		height:500px;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		position:relative;
	}
	.banner_iaas{
		width:100%;
		height:500px;
		background:#9dc1b5;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	.banner_paas{
		width:100%;
		height:500px;
		background:#a1afc9;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
.ba_center{
	width:80%;
	height:350px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
    margin:auto;
}
.ban_left{
	margin-top:150px;
	float: left;
	width:48%;
}
.paas{
	font-size:20px ;
	color:#fff;
}
.ban_left .paas img{
	width:41px;
	height:27px;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}
.banner p{
   font-size:20px ;
   color:#fff;
   margin-top: 6px;
}
.ba_center img{
	width:390px;
	height:298px;
	float: right;
	margin-top: 60px;
}
/*banner end*/
/*详情*/

.decenter{
	width:100%;
	height:745px;
	background: #fff;
}
.dea_cen{
	width:80%;
	height:100%;
	margin:auto;
	clear: both;
}
.center_ul{
	width:120px;
	height:200px;
	float: left;
	margin-top: 43px;
	font-size: 17px;
	color:#000;
	text-align: center;
}

.center_ul .active{
	color: #63aee4;

}
.center_ul li span{
	display: block;
	position: relative;
	top:18px;
	width:10px;
	height:10px;
	border-radius: 50px;
	border:1px solid #97d7ff;
}

.center_ul li{
	width:100%;
	height:40px;
	line-height: 43px;
	border-bottom: 1px solid #797979;
	color :#4b4b4b;
	padding-bottom: 7px;
	cursor: pointer;
	font-size:14px;
}

.center_right{
	margin-top: 50px;
	float: right;
	width:75%;
	height:100%;
}
.center_right .cen_p{
	font-size:24px ;
	color:#000;
	margin-left: 10px;

}
.hr{
	width:100%;
	height:1px;
	clear: both;
	display: block;
}
.center_right p{
	font-size: 14px;
	color:#000;
}
.cen_dea{
	margin-top: 25px;
}
.cen_img{
	margin-top: 30px;
	box-shadow: 0 5px 9px #ccc;
}
#cen_right #cen_first{
	display: block;
}
#cen_right div{
	display: none;
}
/*详情结束*/







	/*footer start*/
	/*底部*/

	.footer{
		width:100%;
		height:240px;
		clear: both;
		background: #787878;
	}
	.footer_center{
		width:57%;
		height:70px;
		margin:0 auto;
	}
	.footer_ul_first{
		width:100px;
		height:100px;
		float: left;
		margin-top: 40px;
	}
	.footer_ul_first li{
		line-height: 12px;
		width:100%;
	}
	.footer_ul_first .footerfirst{
		font-size: 18px;
	}
	.footer_ul_first li a{
		font-size: 14px;
		color:#fff;
	}
	.footer_ul_cen{
		float: left;
		margin-left:29%;
	}
	.footer_ul_rig{
		float: right;
	}

	.footer_bottom{
		width:100%;
		height:30px;
		clear:both;
		padding-top:50px;
	}
	.footer_center .last{
		width:50%;
		height:25px;
		text-align: center;
		font-size: 14px;
		color:#fff;
		clear:both;
		float:left;
	}
	.footer_center .forth_last{
		width:50%;
		height:25px;
		text-align: center;
		font-size: 14px;
		color:#fff;
		float:right;
	}

	/*footer end*/

}
 


/*pad------------------------------------*/
@media (min-width:760px) and (max-width:989px){

/*head start*/
.xhead{
	width:100%;
	height:64px;
	/*background:rgba(0,0,0,0.3);*/
	position: fixed;
	z-index: 1000;
	clear: both;
	top:0;
	left:0;
}

.xnav{
	width:90%;
	height:100%;
	margin:0 auto;
}
.xnav_ul{
	width:60%;
	height:100%;
	line-height: 35px;
	float: left;
}
.xnav_ul .no_margin a {
	display: block;
	width:71px;
	height:45px;
	margin-top: 11px;
}

.xnav_ul .no_margin,
.nav_log .no_margin
{
	margin-left:0;
}
.xnav_ul li{
	width:64px;
}
.xnav_ul li
{
	float: left;
	margin-left: 10%;
}
.xnav_ul li a,
.nav_log li a
{
	color:#fff;
	font-size:20px;
}
.xnav_ul li a:hover{
     font-size: 22px;
     color:#005aff;
}

	/*下拉列表*/
	.xnav_ul .nohover a:hover{
		font-size:20px;
		color:#fff;
	}
	#poll_down{
		width:100%;
		height:0px;
		top:64px;
		left:0px;
		position:absolute;
		clear:both;
		/*display:none;*/
		transition:1s all ease;
		-moz-transition:1s all ease;
		background:rgba(0,0,0,0);
		overflow:hidden;
	}
	#poll_down .pull_first{
		margin-left:24%;
	}
	#poll_down li{
		width:95px;
		height:64px;
		line-height:60px;
		font-size:12px;
		text-align:center;
		float: left;
		margin-left:20px;
	}
	#poll_down li a:hover{
		font-size: 22px;
		color:#005aff;
	}
	#poll_down .down_last{
		border-bottom:0;
	}
	/*下拉列表结束*/

.texttab{
	width:20%;
	height:100%;
	font-size:20px;
	color:#fff;
	line-height:64px;
    float:left;
    margin-left: 2%;
}


.nav_log {
	line-height: 35px;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_log li{
	float: left;
}
.top_cli{
	width:40px;
	height:25px;
	float: left;
	display: none;
}
.top_cli img{
	width:40px;
	height:25px;
	float: left;
	padding-top: 15px;
}
#xnav_ul{
	display: none;
}
/*head end*/
/*登录*/
.login{
	
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 99;
	background: rgba(0,0,0,0.3);
}

#wlog,#enwlog{
display: none;	
}
.xlog{
	
	width:500px;
	height:800px;
	position: fixed;
	right:0;
	top:64px;
	z-index: 100;
	overflow: hidden;
    background: rgba(0,0,0,0.3);	
}
#sign a{
  padding:1px;
  border:1px solid #fff;
}
#log,#enlog{
	display: none;
}
#signbj,#ensignbj{
	display: none;
}
.form{
	width:348px;
	height:512px;
	margin: auto;
	position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
input{
	background: none;
	border:0;
	outline: none;
}
.input{
	margin-top: 15px;
	height:70px;
}
.input p{
	font-size: 14px;
	color:red;
}
.inpu{
	width:100%;
	height:65px;
	overflow: hidden;
	margin-top: 25px;
	border-bottom:1px solid #fff;
}
.inpu input{
	width:285px;
    font-size: 15px;
    color:#fff;
    padding-top:30px ;
    padding-bottom: 30px;
    float: right;
    background: none;
	border:0;
	outline: none;
}
.input p{
	font-size: 14px;
	color:red;
}
.inpu img{
	float: left;
	width:26px;
	height:28px;
	margin-top: 24px;
}
.rember{
	width:150px;
	height:40px;
	margin:auto;
	margin-top: 65px;
	float: left;
}
.rember p{
	float: right;
	color:#fff;
	font-size: 18px;
}
.rember .wite{
	float: left;
	display: block;
	width:29px;
	height:16px;
	background: #fff;
	border-radius: 8px;
	margin-top: 3px;
	cursor:pointer;
}
.rember .wite .dot{
	display: block;
	width:16px;
	height:16px;
	background: #76c4fb;
	border-radius: 50px;
	cursor: pointer;
}
button{
	background: rgba(0,0,0,0);
}
.buton{
	width:174px;
	height:40px;
	outline: none;
	border:0;
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	color:#fff;
	/*background: #fff;*/
	cursor: pointer;
	float: right;
}
.close{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	cursor: pointer;
}
/*注册*/
.sign{
	display: none;
}
.sign .inpu{
	margin-top: 10px;
}
.sbuton{
	float: none;
	margin-left: 80px;
}



/*banner*/
	.banner{
		width:100%;
		height:500px;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		position:relative;
	}
	.banner_iaas{
		width:100%;
		height:500px;
		background:#9dc1b5;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	.banner_paas{
		width:100%;
		height:500px;
		background:#a1afc9;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
.ba_center{
	width:90%;
	height:300px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
    margin:auto;
}
.ban_left{
	width:55%;
	margin-top:160px;
	float: left;
}
.paas{
	font-size:20px ;
	color:#fff;
}
.ban_left .paas img{
	width:41px;
	height:27px;
	margin-top: 0;
	margin-left: 10px;
	float: left;

}
.banner p{
   font-size:20px ;
   color:#fff;
   margin-top: 6px;
}
.ba_center img{
	width:300px;
	height:200px;
	float: right;
	margin-top: 130px;
}
/*banner end*/
/*详情*/

.decenter{
	width:100%;
	height:745px;
	background: #fff;
}
.dea_cen{
	width:90%;
	height:100%;
	margin:auto;
	clear: both;
}
.center_ul{
	width:120px;
	height:200px;
	float: left;
	margin-top: 43px;
	font-size: 17px;
	color:#000;
	text-align: center;
}

.center_ul .active{
	color: #63aee4;
}


.center_ul li{
	width:100%;
	height:40px;
	line-height: 43px;
	font-size:14px;
	color:#4b4b4b;
	border-bottom: 1px solid #797979;
	cursor: pointer;
}

.center_right{
	margin-top: 50px;
	float: right;
	width:75%;
	height:100%;
}
.center_right .cen_p{
	font-size:22px ;
	color:#000;
	margin-left: 10px;

}
.hr{
	width:100%;
	height:1px;
	clear: both;
	display: block;
}
.center_right p{
	font-size: 14px;
	color:#000;
}
.cen_dea{
	margin-top: 25px;
}
.cen_img{
	margin-top: 30px;
	box-shadow: 0 5px 9px #ccc;
}
#cen_right #cen_first{
	display: block;
}
#cen_right div{
	display: none;
}
/*详情结束*/







	/*footer start*/
	/*底部*/
	.footer{
		width:100%;
		height:220px;
		clear: both;
		background:#787878;
	}
	.footer_center{
		width:80%;
		height:70px;
		margin:0 auto;

	}
	.footer_ul_first{
		width:90px;
		height:100px;
		float: left;
		margin-top: 20px;
	}
	.footer_ul_first li{
		line-height: 12px;
		width:100%;
	}
	.footer_ul_first .footerfirst{
		font-size: 18px;
	}
	.footer_ul_first li a{
		font-size: 14px;
		color:#fff;
	}
	.footer_ul_cen{
		float: left;
		margin-left:30%;
	}
	.footer_ul_rig{
		float: right;
	}
	.footer_bottom{
		width:100%;
		height:30px;
		clear:both;
		padding-top:50px;
	}
	.footer_center .last{
		width:50%;
		height:25px;
		text-align: center;
		font-size: 14px;
		color:#fff;
		clear:both;
		float:left;
	}
	.footer_center .forth_last{
		width:50%;
		height:25px;
		text-align: center;
		font-size: 14px;
		color:#fff;
		float:right;
	}
	/*footer end*/
  
 }






@media (min-width: 320px) and (max-width: 759px){

 body{
        width:100%;
        height:auto;
        min-width: 16rem;
    }
    /*head start*/
.xhead{
	width:100%;
	height:1.6rem;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
	/*background: rgba(0,0,0,0.3);*/
}
.xnav{
	width:15rem;
	height:100%;
	margin:0 auto;
}
#no_ul{
	display: none;
}
	#xnav_ul{
		position: fixed;
		/*overflow: hidden;*/
		transition:0.5s all ease;
		-moz-transition:1s all ease;
		top:1.6rem;
		left:0rem;
		width:100%;
		height:0rem;
		text-align: center;
		opacity: 0;
	}

	.xnav_ul li{
		font-size: 0.475rem;
		line-height: 1rem;
		height:1rem;
		width:2.3rem;
		float: left;
		/*margin-top: 0.3rem;*/
	}
.xnav_ul .no_margin,
.nav_log .no_margin
{
	margin-left: 0;
}
.xnav_ul li a{
   color:#fff;
}
.xnav_ul li a:hover{
	font-size: 0.5rem;
	color:#0089ff;
}

.xnav_ul .no_margin a img{
	display: block;
	width:1.55rem;
	height:1rem;
	margin-top: 0.55rem;
}
.top_cli{
	width:5rem;
	height:1.625rem;
	float: left;
	display: block;
}
.top_cli img{
	width:1.55rem;
	height:1rem;
	float: left;
	padding-top: 0.3rem;
	cursor: pointer;
	display: block;
}
.top_cli #ph_open{
	margin-left:0.5rem;
	width:1rem;
	height:0.6rem;
	margin-top: 0.3rem;
}

	/*下拉列表*/
	.xnav_ul	 .nohover a:hover{
		font-size:0.475rem;
		color:#fff;
	}
	#clic_down{
		width:100%;
		height:0rem;
		top:1rem;
		left:0;
		position:absolute;
		clear:both;
		/*display:none;*/
		transition:1s all ease;
		-moz-transition:1s all ease;
		z-index:10;
		background:rgba(0,0,0,0);
		overflow:hidden;
	}
	#clic_down p{
		width:2rem;
		height:1rem;
		line-height:1rem;
		font-size:0.3rem;
		text-align:center;
		float: left;
		margin-left:0.5rem;
	}
	#clic_down p a:hover{
		font-size: 0.49rem;
		color:#0089ff;
	}
	.clic_first{
		margin-left:10%;
	}

	/*下拉列表结束*/

.texttab{
	width:3.7rem;
	height:2.2rem;
	text-align: center;
	line-height: 2.2rem;
	font-size: 0.4rem;
	color:#fff;
	float: left;
}
.nav_log{
	font-size: 0.475rem;
	float: right;
	line-height: 2.2rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.nav_log li{
	float: left;
}
.nav_log li a{
	color:#fff;
}
/*head end*/
/*登录*/
.login{ 
    width:100%;
    height:100%;
    position: fixed;
    top:2.2rem;
    overflow-y:auto;
    z-index: 99;
    background: rgba(0,0,0,0.3);
    transition:1s all ease;
}
#wlog,#enwlog{
display: none;  
}
.xlog{
    
    width:12.5rem;
    height:20rem;
    position: relative;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
    position: fixed;
    right:0;
    top:64px;
    z-index: 100;

}
#sign a{
  padding:1px;
  border:1px solid #fff;
}
#log,#enlog{
    display: none;
}
#signbj,#ensignbj{
    display: none;
}
.form{
    width:8.7rem;
    height:12.8rem;
    margin: auto;
    position: absolute;
    left:0;
    top:-2rem;
    right:0;
    bottom:0; 
}
input{
    background: none;
    border:0;
    outline: none;
}
.inpu{
    width:100%;
    height:1.625rem;
    overflow: hidden;
    margin-top: 0.625rem;
    border-bottom:1px solid #fff;
}
.input{
    margin-top: 0.2rem;
    height:1.75rem;
}
.input p{
    font-size: 0.35rem;
    color:red;
}
.inpu input{
    width:7.125rem;
    font-size: 0.375rem;
    color:#fff;
    padding-top:0.75rem;
    padding-bottom: 0.75rem;
    float: right;
    background: none;
	border:0;
	outline: none;
}
.inpu img{
    float: left;
    width:0.65rem;
    height:0.7rem;
    margin-top: 0.8rem;
}
.rember{
    width:4.3rem;
    height:1rem;
    margin:auto;
    margin-top: 1.625rem;
    float: left;
}
.rember p{
    float: right;
    color:#fff;
    font-size: 0.45rem;
}
.rember .wite{
    float: left;
    display: block;
    width:0.725rem;
    height:0.4rem;
    background: #fff;
    border-radius:0.2rem;
    margin-top:0.075rem;
}
.rember .wite .dot{
    display: block;
    width:0.4rem;
    height:0.4rem;
    background: #76c4fb;
    border-radius: 1.25rem;
}
button{
    background: rgba(0,0,0,0);
}
.buton{
    width:4.35rem;
    height:1rem;
    color:#fff;
    outline: none;
    border:0;
    font-size: 0.6rem;
    text-align: center;
    margin-top:1.5rem;
    cursor: pointer;
    float: right;
}
.close{
    float: right;
    width:0.35rem;
    height:0.35rem;
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    cursor: pointer;
}
/*注册*/
.sign{
    display: none;
}
.sign .inpu{
    margin-top:0.25rem;
}
.sbuton{
    float: none;
    margin-left: 2rem;
} 

/*banner*/
.banner{
    width:100%;
    height:12rem;
    position: relative;
    background:#9dc1b5;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}

	.banner_iaas{
		width:100%;
		height:12rem;
		position: relative;
		background:#9dc1b5;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	.banner_paas{
		width:100%;
		height:12rem;
		position: relative;
		background:#a1afc9;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
.ba_center{
    width:11rem;
    height:6rem;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
}
.ban_left{
    margin-top:1rem;
    width:12rem;
    height:2rem;
    clear: right;
}
.paas{
    font-size:0.55rem;
    color:#fff;
}
.ban_left .paas img{
	float: left;
	margin-top: 0;
	margin-right: 0.25rem;
	width:1.025rem;
	height:0.675rem;
}
.banner p{
   font-size:0.55rem;
   color:#fff;
   margin-top: 0.15rem;
}
.ba_center img{
    width:5rem;
    height:4rem;
    float: right;
    margin-right: 1rem;
    margin-top: 0rem;
}
/*banner end*/
/*详情*/

.decenter{
    width:100%;  
    height:auto;
    overflow: auto;   
    display: block;
    background: #fff;
}
.dea_cen{
    width:90%;
    height:auto;
    margin:auto;
    clear: both;
}
.center_ul{
    width:4.5rem;
    height:5rem;
    float: left;
    margin-top: 1rem;
    font-size: 0.4rem;
    color:#000;
    text-align: center;
}

.center_ul .active{
	color: #63aee4;
}

.center_ul li{
   width:100%;
   height:1rem;
   line-height: 1.075rem;
   color:#4b4b4b;
   border-bottom: 1px solid #797979;
    cursor: pointer;
}

.center_right{
    margin-top: 1rem;
    float: right;
    width:67%;
    height:auto;
}
.center_right .cen_p{
    font-size:0.5rem;
    color:#000;
    margin-left: 0.25rem;

}
.center_right .cen_p img{
	width:0.875rem;
	height:0.8rem;
}
.hr{
    width:100%;
    height:1px;
    clear: both;
    display: block;
}
.center_right p{
    font-size: 0.3rem;
    color:#000;
}
.cen_dea{
	width:11rem;
	height:auto;
    margin-top: 0.625rem;
}
.cen_img{
	width:5rem;
	height:3.5rem;
    margin-top: 0.75rem;
    box-shadow: 0 0.125rem 0.225rem #ccc;
}
#cen_right #cen_first{
    display: block;
}
#cen_right div{
    display: none;
}
/*详情结束*/






	/*footer start*/
	.footer{
		width:100%;
		height:7rem;
		background:#787878;
		overflow: hidden;
	}
	.footer_center{
		width:15rem;
		height:4rem;
		margin:0 auto;
		color:#fff;
		clear: both;
	}
	.footer_ul_first{
		width:4rem;
		height:5rem;
		float: left;
	}
	.footer_ul_first .footerfirst{
		font-size: 0.45rem;
	}
	.footer_ul_first li{
		width:100%;
		text-align: center;
		margin-top: 0.6rem;
		height:1rem;
		font-size: 0.3rem;
	}
	.footer_ul_first li a{
		color:#fff;
	}
	.footer_ul_cen{
		float: left;
		margin-left: 1.8rem;
	}
	.footer_ul_rig{
		float: right;
	}
	.footer_bottom{
		width:100%;
		height:0.75rem;
		clear:both;
		padding-top:0.875rem;
	}
	.footer_center .last{
		width:50%;
		height:0.625rem;
		text-align: center;
		font-size: 0.3rem;
		color:#fff;
		clear:both;
		float:left;
	}
	.footer_center .forth_last{
		width:50%;
		height:0.625rem;
		text-align: center;
		font-size:0.3rem;
		color:#fff;
		float:right;
	}
	/*footer end*/




}




/*动画*/
/*登录左右淡入*/
.logopt{
	-webkit-animation-name:log;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:1;	
	-webkit-animation-fill-mode : forwards;
}
@-webkit-keyframes log
{
	from{
		opacity:0;
		transform:translateX(500px);

	}
	to{
		opacity:1;
		transform:translateX(0px);
	}
}

.bottom{
	-webkit-animation-name:inse_thre;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:1;	
	-webkit-animation-fill-mode : forwards;
}
@-webkit-keyframes inse_thre
{
	from{
		transform:translateY(20px);
		opacity: 0;
		
	}
	to{
		opacity: 1;
		transform:translateY(0px);
	}
}


	/*下拉菜单左右淡入*/
	.pullopt{
		-webkit-animation-name:pull;
		-webkit-animation-duration:1s;
		-webkit-animation-timing-function:ease;
		-webkit-animation-iteration-count:1;
		-webkit-animation-fill-mode : forwards;
	}
	@-webkit-keyframes pull
	{
		from{
			opacity:0;
			transform:translateX(-30px);

		}
		to{
			opacity:1;
			transform:translateX(0px);
		}
	}

	/*下拉菜单左右淡出*/
	.pullout{
		-webkit-animation-name:puout;
		-webkit-animation-duration:1s;
		-webkit-animation-timing-function:ease;
		-webkit-animation-iteration-count:1;
		-webkit-animation-fill-mode : forwards;
	}
	@-webkit-keyframes puout
	{
		from{
			opacity:0;
			transform:translateX(0px);

		}
		to{
			opacity:1;
			transform:translateX(-30px);
		}
	}