<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>account</title>
	<link rel="stylesheet" href="css/account.css">
</head>
<body>
	<div class="account">
			<a href="index.html">
                <img src="images/loglo.png" alt="" class="close" id="close">
            </a>
		<div class="acc-cen">

			<!-- head start -->
		 <div class="acc-top">
			 <ul class="poss posssucce">                    
				<li class="pos-num">1</li>
				<li>
					Authentication
				</li>
			 </ul>
			 <ul class="poss" id="slidTwo">
				<li class="pos-num">2</li>
				<li>
					Reset Password
				</li>
			 </ul>
			 <ul class="poss" id="slidThree">
				<li class="pos-num">3</li>
				<li>
					Complete
				</li>
			 </ul>
				
				
		 </div>
			<!-- head end -->
		<div class="acc-info" id="info-first" >
			<form class="acc-form" id="forgotForm" action="http://localhost:8081/user/forgot" method="post" >
				<div class="input ">
					
                    <div class="inpu">
                    	<img src="images/name.png" alt="">
                    	<input type="text" placeholder="user name" v-model="username" name="username">
                    </div>
                    <p v-show="!userValid" class="error-p">*Please input username!</p>
                </div>


                <button class="buton click-no" type="submit" id="next" disabled>
                    Next
                </button>
			</form>

		</div>

		<div class="acc-info" id="info-second" style="display:none;">
			<form class="acc-form" id="resetForm" action="http://localhost:8081/user/changePassword" method="post">
				<div class="input ">					
                    <div class="inpu">
                    	<img src="images/password.png" alt="">
                    	<input type="password" placeholder="New Password" v-model="newPasswd" name="newPassword">
                    </div>

                </div>
				<input type="hidden" name="activeCode" v-model="activeCode">
				<input type="hidden" name="username" v-model="userName">
				<!--<input type="hidden" name="oldPassword" value=" " >-->
                <div class="input ">
				    
                    <div class="inpu">
                    	<img src="images/password.png" alt="">
                    	<input type="password" placeholder="Confirm Password" v-model="conPasswd" >
                    </div>
					<p v-show="!conValid" class="error-p">*Please confirm password!</p>
                </div>

                <button class="buton click-no" type="submit" id="nextTwo"  disabled="disabled">
                    Next
                </button>
			</form>
		</div>
		   <div class="acc-info" id="info-third" style="display:none;">
			<form class="acc-form">
				<img src="images/account.png" alt="" class="acc-img">
				<p class="acc-right">Password settings success！</p>
								
                 <button class="buton" type="button" onclick="window.location='login.html'">
                    Login
                  </button>
                
			</form>
		   </div>
		</div>
	</div>
    <script src="js/jquery-1.8.3.min.js"></script>
    <!--<script src="js/jwt-decode.min.js"></script>-->
    <script src="js/jquery.transform.js"></script>
    <script src="js/jquery.form.js"></script>
    <!--<script src="js/js.cookie.js"></script>-->
    <script src="js/vue.min.js"></script>
    <!--<script src="js/my.js"></script>-->
    <script src="js/util.js"></script>
    <!--<script src="js/index.js"></script>-->
    <!--<script src="js/reset.js"></script>-->
    <script src="js/account.js"></script>
</body>
</html>