<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>lenovo</title>
    <link rel="shortcut icon" href="images/function.ico">
    <link rel="stylesheet" href="css/main1.css">

</head>

<body >
    <div id="china">
         <div id="animat">
            <img src="images/anclose.png" alt="close" class="anclose" id="anclose"/>
            <img src="images/animite.gif" alt="animite" id="animite" class="animite"/>
         </div>
        <!--导航-->
        <div class="xhead" id="xhead">
            <div class="xnav">
                <div class="top_cli">
                    <a href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                    <img src="images/topcli.png" id="ph_open" alt="logo">
                </div>
                <ul class="xnav_ul" id="no_ul">
                    <li class="no_margin">
                        <a href="#first" name="first">
                            <img src="images/logo.png" alt="logo" id="change_src">

                        </a>
                    </li>
                    <li class="nohover">
                        <a href="javascript:;">
                            Cloud Service
                        </a>
                        <ol id="devser"  class="ol">
                            <li class="devser_first">

                                <a href="http://iaas.lenovo.com/" target="_blank">
                                    IaaS
                                </a>
                            </li>
                            <li>
                                <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                    PaaS
                                </a>
                            </li>
                        </ol>
                    </li>

                    <li class="nohover">
                        <a href="javascript:;">
                         DevOps  Service
                        </a>
                        <ol id="poll_down"  class="ol">
                            <li class="pull_first">
                                <a href="javascript:;">
                                     CMDB
                                 </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    XOPS
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    XMSG
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Ticket
                                </a>
                            </li>
                        </ol>
                    </li>
                </ul>


                <!-- 点击出现的导航 -->
                <ul class="xnav_ul" id="xnav_ul">
                    <li class="nohover">
                        <a href="javascript:;">
                            Devops Service
                        </a>
                        <div class="ol device" id="device">
                            <p class="device_first">
                                <a href="http://iaas.lenovo.com/" target="_blank">
                                    IaaS
                                </a>
                            </p>
                            <p>
                                <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                    PaaS
                                </a>
                            </p>
                        </div>
                    </li>

                    <li class="nohover">
                        <a href="javascript:;">
                            Cloud  Service
                        </a>
                        <div id="clic_down"  class="ol">
                            <p class="clic_first">
                                <a href="javascript:;">
                                    CMDB
                                </a>
                            </p>
                            <p>
                                <a href="javascript:;">
                                    XOPS
                                </a>
                            </p>
                            <p>
                                <a href="javascript:;">
                                    XMSG
                                </a>
                            </p>
                            <p class="down_last">
                                <a href="javascript:;">
                                    Ticket
                                </a>
                            </p>
                        </div>
                    </li>
                </ul>


                <!-- <div class="texttab">
                <p>
                    <span>中文</span>/<span id="eng">English</span>
                </p>
            </div> -->

                <ul class="nav_log">
                    <li class="no_margin">
                        <a href="javascript:;" id="login">
                        {{login}}
                    </a>
                    </li>
                    <li>&nbsp;</li>
                    <li><a v-show="isLogged" href="#" @click="logout()" style="border:1px solid #fff;
	padding:2px 3px 5px 3px;">Logout</a></li>
                    <!--<li id="sign" v-show="!isLogged">-->
                        <!--<a href="javascript:;">-->
                        <!--Sign in-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>

            </div>
        </div>


    <!-- 登录 -->
    <div class="login" id="wlog">
        <div class="xlog logopt" id="log">
            <img src="images/close.png" alt="" class="close" id="close">
            <div class="form">
                <form id="loginForm" class="" method="post" action="http://cas.xpaas.lenovo.com/sso/login">
                    <div class="input">
                        <div class="inpu">
                            <img src="images/name.png" alt="">
                            <input type="text" name="username" v-model="username" id="luname" placeholder="Please input username">
                        </div>
                        <p v-show="!userValid">*Please input username</p>
                    </div>
                    <div class="input">
                        <div class="inpu">
                            <img src="images/password.png" alt="">
                            <input type="password" name="password" id="lpword" v-model="password" placeholder="Please input password">
                        </div>
                        <p v-show="!passValid">*Please input password</p>
                        <p style="font-size:16px"　v-show="error!==''">{{error}}</p>
                    </div>


                        <div class="rember">

                            <span class="wite" id="rember">
		    		         <span class="dot" id="dot">
                                 <input type="radio" v-model="remember" name="remember">
                             </span>
                            </span>
                            <p>Remember me</p>
                        </div>
                        <button class="buton" type="submit">
                        Login
                    </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 登录结束 -->
        <!-- 注册 -->
        <!-- 注册 -->
        <div class="login sign" id="signbj">
            <div class="xlog logopt" id="sig">
                <img src="images/close.png" alt="" class="close" id="closesig">
                <div class="form">
                    <form class="" id="signForm" action="http://cas.xpaas.lenovo.com/sso/userAdd/">
                        <div class="input">
                            <div class="inpu">
                                <img src="images/name.png" alt="">
                                <input type="text" name="username" v-model="username" id="uname" placeholder="Please input username">
                            </div>
                            <p v-show="!userValid">*Please input username</p>
                        </div>
                        <div class="input">
                            <div class="inpu">
                                <img src="images/email.png" alt="">
                                <input type="text" name="email" v-model="email" id="email" placeholder="Please input email">
                            </div>
                            <p v-show="!emailValid">*Please input valid email</p>
                        </div>
                        <div class="input">
                            <div class="inpu">
                                <img src="images/name.png" alt="">
                                <input type="text" name="realname" v-model="realname" id="rname" placeholder="Please input name">
                            </div>
                            <p v-show="!nameValid">*Please input name</p>
                        </div>
                        <div class="input">
                            <div class="inpu">
                                <img src="images/password.png" alt="">
                                <input type="password" name="password" v-model="password" id="pword" placeholder="Please input password">
                            </div>
                            <p v-show="!passValid">*Please input password</p>
                            <p style="font-size:16px"　v-show="error!==''">{{error}}</p>
                        </div>
                        <button class="buton sbuton" type="submit">
                        Sign in
                    </button>
                    </form>
                </div>

            </div>
        </div>
        <!-- 注册结束 -->
        <!--导航结束-->
        <!--第一屏-->

        <div class="top_banner" id="first">

            <div class="banner_first banner_second" id="banner_second" style="display:block;">
                <img src="images/banner_first.png" alt="">
                <span class="banner_first_one">
                <p class="h2">
                    Save time, Innovate more.
                </p>
                </span>
            </div>
            <div class="banner_first" id="banner_first">
                <img src="images/think.png" alt="">
                <span class="banner_first_one">
  	   	         <p class="h2">
                   Explore Lenovo DevOps platform,Cloud products.
  	   	         </p>
  	   </span>
            </div>


            <div class="banner_first banner_third" id="banner_third">
                <img src="images/third.png" alt="">
                <span class="banner_first_one">
                <p class="h2">
                    Get ready and run it immediately.
                </p>
                </span>
            </div>
            <ul class="tab_ul" id="tab_ul">
                <li><span class="active"></span></li>
                <li><span></span></li>
                <li><span></span></li>

            </ul>
        </div>



        <!--第二屏开始-->

        <div class="cen_banner" id="second">

            <div class="cen_center">

                <div class="centop">
                    <ul class="cen_title">
                        <li class="title_no"><img src="images/topleft.png" alt=""></li>
                        <li class="centop_title"><p>Cloud Service</p></li>
                        <li class="centop_right"><img src="images/topright.png" alt=""></li>
                    </ul>
                    <!--<p>The next moment How strong we are</p>-->
                </div>
                <div class="cen_ban_left">
                    <img src="images/iasle.png" alt="iaas" id="cen_right" class="cen_right" />
                    <div class="cen_left" id="cen_left">
                        <p class="h3">
                            <a href="http://earth.xpaas.lenovo.com/" target="_blank">PaaS</a>
                        </p>
                        <p>
                            Increase developer productivity and utilization rate while also decrease an applications' time to market.
                        </p>
                        <p class="cen_more">

                            <a href="paas.html" target="_blank">
                            

                            To view more > >
                        </a>
                        </p>
                    </div>
                </div>

                <div class="cen_ban_right">
                    <img src="images/pasri.png" class="cen_right" alt="">
                    <div class="th_right">
                        <p class=" h3">
                            <a href="http://iaas.lenovo.com/" target="_blank">IaaS</a>
                        </p>
                        <p class="">
                            Use high-compatibility and reliable infrastuctrues by lowest consumption.
                        </p>
                        <p class="cen_more">

                            <a href="iaas.html" target="_blank">
                               
                                
                                To view more > >
                        </a>
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <!--第二屏结束-->



        <!-- 第四屏 -->
        <div class="forth" style="display:block;" id="forth">
            <div class="for_cen">
                <div class="centop">
                    <ul class="cen_title">
                        <li class="title_no"><img src="images/topleft.png" alt=""></li>
                        <li class="centop_title"><p>DevOps Service</p></li>
                        <li class="centop_right"><img src="images/topright.png" alt=""></li>
                    </ul>
                    <!--<p>The next moment How strong we are</p>-->
                </div>
                <div class="onclick">
                    <img src="images/left.png" alt="" class="onleft" id="onleft">
                    <img src="images/right.png" alt="" class="onright" id="onright">
                </div>
                <div class="forth_out" id="forth_out">
                    <ul class="forth_ul" id="forth_ul">
                        <li class="oone" id="one">

                            <img src="images/asset.png" alt="">
                            <p class="ul_first">CMDB</p>
                            <p class="ul_second">Holds asset data and<br> descriptive relationships between assets.</p>
                        </li>
                        <li class="oone" id="factive">

                            <img src="images/clise.png" alt="">
                            <p class="ul_first"><a href="http://localhost:8080/xops-dashboard/dash/home" target="_blank">XOPS</a></p>
                            <p class="ul_second">Integrate deployment,<br>installation and log searching in one place.</p>
                        </li>
                        <li class="oone">

                            <img src="images/massge.png" alt="">
                            <p class="ul_first">XMSG</p>
                            <p class="ul_second">Provide API to <br>send,manage and monitor message.</p>
                        </li>
                        <li class="oone" id="two">

                            <img src="images/piao.png" alt="">
                            <p class="ul_first"><a  href="http://test.lenovo.com:8080/xframe/dash/home" target="_blank">Ticket</a>
                            </p>
                            <p class="ul_second">Collect tickets'<br> information for tracking and management.</p>
                        </li>

                    </ul>
                </div>
            </div>


        </div>

        <!-- 第四屏结束 -->


        <!-- 底部 -->
        <div class="footer">
            <div class="footer_center" id="footer_center">
                <ul class="footer_ul_first">
                    <li class="footerfirst">
                        <a href="javascript:;">
                        Lenovo Cloud&Serivce
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                        Management Tools
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Computing
                        </a>
                    </li>
                </ul>
                <ul class="footer_ul_first footer_ul_cen">
                    <li class="footerfirst">
                        <a href="javascript:;">
                        Support
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                        Getting Start
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                        Documentation
                    </a>
                    </li>
                </ul>
                <ul class="footer_ul_first footer_ul_rig">
                    <li class="footerfirst">
                        <a href="javascript:;">
                        Contact Us
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                        Email
                    </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                        Phone
                    </a>
                    </li>
                </ul>
                <div class="footer_bottom">
                    <p class="last">privacy | site terms</p>
                    <p class="forth_last"> Lenovo©2016</p>
                </div>

            </div>
        </div>
        <!-- 底部结束 -->
    </div>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jwt-decode.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.transform.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/my.js"></script>
    <script src="js/index.js"></script>
</body>

</html>