<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>PaaS</title>
    <link rel="shortcut icon" href="images/function.ico">
    <link rel="stylesheet" href="css/detail.css">

</head>

<body>
    <!--导航-->
    <div class="xhead" id="xhead">
        <div class="xnav">
            <div class="top_cli">
                <a href="index.html">
                    <img src="images/logo.png" alt="">
                </a>

                <img src="images/topcli.png" id="ph_open" alt="logo">
            </div>
            <ul class="xnav_ul" id="no_ul">
                <li class="no_margin">
                    <a href="index.html" name="first">
                        <img src="images/logo.png" alt="logo" id="change_src">

                    </a>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Devops Service
                    </a>
                    <ol id="devser" class="ol">
                        <li class="devser_first">

                            <a href="http://iaas.lenovo.com/" target="_blank">
                                IaaS
                            </a>
                        </li>
                        <li>
                            <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                PaaS
                            </a>
                        </li>
                    </ol>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Cloud  Service
                    </a>
                    <ol id="poll_down">
                        <li class="pull_first">
                            <a href="javascript:;">
                                CMDB
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                XOPS
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                XMSG
                            </a>
                        </li>
                        <li class="down_last">
                            <a href="javascript:;">
                                Ticket
                            </a>
                        </li>
                    </ol>
                </li>
            </ul>


            <!-- 点击出现的导航 -->
            <ul class="xnav_ul" id="xnav_ul">
                <li class="nohover">
                    <a href="javascript:;">
                        Devops Service
                    </a>
                    <div class="ol device" id="device">
                        <p class="device_first">
                            <a href="http://iaas.lenovo.com/" target="_blank">
                                IaaS
                            </a>
                        </p>
                        <p>
                            <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                PaaS
                            </a>
                        </p>
                    </div>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Cloud  Service
                    </a>
                    <div id="clic_down">
                        <p class="clic_first">
                            <a href="javascript:;">
                                CMDB
                            </a>
                        </p>
                        <p>
                            <a href="javascript:;">
                                XOPS
                            </a>
                        </p>
                        <p>
                            <a href="javascript:;">
                                XMSG
                            </a>
                        </p>
                        <p class="down_last">
                            <a href="javascript:;">
                                Ticket
                            </a>
                        </p>
                    </div>
                </li>
            </ul>


            <!-- <div class="texttab">
            <p>
                <span>中文</span>/<span id="eng">English</span>
            </p>
        </div> -->

            <ul class="nav_log">
                <li class="no_margin">
                    <a href="javascript:;" id="login">
                        {{login}}
                    </a>
                </li>
                <li>&nbsp;</li>
                <li><a v-show="isLogged" href="#" @click="logout()" style="border:1px solid #fff;
	padding:2px 3px 5px 3px;">Logout</a></li>
                <!--<li id="sign" v-show="!isLogged">-->
                <!--<a href="javascript:;">-->
                <!--Sign in-->
                <!--</a>-->
                <!--</li>-->
            </ul>

        </div>
    </div>
    <!-- 登录 -->
    <div class="login" id="wlog">
        <div class="xlog logopt" id="log">
            <img src="images/close.png" alt="" class="close" id="close">
            <div class="form">
                <form id="loginForm" class="" method="post" action="http://sso.earth.xpaas.lenovo.com/login">
                    <div class="input">
                        <div class="inpu">
                            <img src="images/name.png" alt="">
                            <input type="text" name="username" v-model="username" id="luname" placeholder="Please input username">
                        </div>
                        <p v-show="!userValid">*Please input username</p>
                    </div>
                    <div class="input">
                        <div class="inpu">
                            <img src="images/password.png" alt="">
                            <input type="password" name="password" id="lpword" v-model="password" placeholder="Please input password">
                        </div>
                        <p v-show="!passValid">*Please input password</p>
                        <p style="font-size:16px" 　v-show="error!==''">{{error}}</p>
                    </div>


                    <div class="rember">
                        <span class="wite" id="rember">
		    		<span class="dot" id="dot">
                        <input type="radio" v-model="remember" name="remember">
                    </span>
                        </span>
                        <p>Remember me</p>
                    </div>
                    <button class="buton" type="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- 登录结束 -->
    <!-- 注册 -->
    <div class="login sign" id="signbj">
        <div class="xlog logopt" id="sig">
            <img src="images/close.png" alt="" class="close" id="closesig">
            <div class="form">
                <form id="signForm">
                    <div class="input">
                        <div class="inpu">
                            <img src="images/name.png" alt="">
                            <input type="text" value="" id="uname">
                        </div>
                        <p>*请输入用户名</p>
                    </div>
                    <div class="input">
                        <div class="inpu">
                            <img src="images/email.png" alt="">
                            <input type="text" value="" id="email">
                        </div>
                        <p>*请输入邮箱</p>
                    </div>
                    <div class="input">
                        <div class="inpu">
                            <img src="images/name.png" alt="">
                            <input type="text" value="" id="rname">
                        </div>
                        <p>*请输入真实姓名</p>
                    </div>
                    <div class="input">
                        <div class="inpu">
                            <img src="images/password.png" alt="">
                            <input type="text" value="" id="pword">
                        </div>
                        <p>*请输入密码</p>
                    </div>
                    <button class="buton sbuton" type="button" disabled="disabled">
		    	sign in
		    </button>
                </form>
            </div>

        </div>
    </div>
    <!-- 注册结束 -->
    <!--导航结束-->

    <!-- 背景 -->
    <!--  <video autoplay="autoplay" loop="loop">
   <source src="assets/file.mp4" type="video/mp4" />           
  </video>  -->
    <!-- 背景结束 -->
    <!-- banner -->
    <div class="banner banner_paas">
        <div class="ba_center">
            <div class="ban_left">
                <p class="paas">
                    <img src="images/paastop.png" alt="" class="paastop"> PaaS
                </p>
                <p style="clear:both;" class="pass_sec">Flexibility, cost savings, ease of maintenance</p>
            </div>
            <img src="images/topbanner.png" alt="">
        </div>
    </div>
    <!-- banner结束 -->
    <!-- 详情 -->

    <div class="decenter" id="second">

        <div class="dea_cen">

            <ul class="center_ul" id="cen_ul">
                <li class="cen_ul_first ">
                    <a href="javascript:;" class="active">
                       Overview 
                    </a>
                    
                </li>
                <li>

                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/tree/master/guide" target="_blank">  User Guide </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/issues/new" target="_blank">
                    Bug&issues
                    </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/tree/master/changelog/" target="_blank">
                    Changelog
                    </a>
                </li>
                <li>
                    <a href="mailto:-Paas-Platform@lenovo.com">
                    Contact Us
                    </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/blob/master/guide/faq.md" target="_blank">
                    FAQ
                    </a>
                </li>

            </ul>

            <div class="center_right" id="cen_right">
                <div class="cen_first" id="cen_first">
                    <p class="cen_p">
                        <img src="images/paasleft.png" alt=""> PaaS
                    </p>
                    <img src="images/hr.png" alt="" class="hr">
                
                        <ul class="cen_dea">
                            <li>
                                Fast,simple. provide one-key publish,delopy,rollback and extend.
                            </li>
                            <li>
                                Multiple language and Platform support,inculding Java/PHP/node.js/Tomcat.
                            </li>
                            <li>
                                Auto-dynamic control and adjust resources for quick responding.
                            </li>
                            <li>
                                Prvoide real-time application's status and log by data visualization.
                            </li>
                            <li>
                                Devops support. For whole project lifecycle.Implement continuously integration/delivery,decrease time to market.
                            </li>
                            <li>
                                Multiple cluster support. user can select app running position, immigrate different application between cluster.
                            </li>
                            <li>
                                Mircoservices friendly. support cloud native applications' integral solution.
                            </li>                      
                         </ul>                    
                   
                </div>

                <div class="cen_one">
                </div>

                <div class="cen_one">
                </div>
                <div class="cen_one">
                </div>
                <div class="cen_one">                
                </div>
                <div class="cen_one">                
                </div>

            </div>


        </div>
    </div>


    <!-- 详情结束 -->




    <!-- 底部 -->
    <div class="footer">
        <div class="footer_center" id="footer_center">
            <ul class="footer_ul_first">
                <li class="footerfirst">
                    <a href="javascript:;">
							Lenovo Cloud&Serivce
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Mangement Tools
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Computing
						</a>
                </li>
            </ul>
            <ul class="footer_ul_first footer_ul_cen">
                <li class="footerfirst">
                    <a href="javascript:;">
							Support
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Getting Start
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Documentation
						</a>
                </li>
            </ul>
            <ul class="footer_ul_first footer_ul_rig">
                <li class="footerfirst">
                    <a href="javascript:;">
							Contact Us
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Email
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Phone
						</a>
                </li>
            </ul>
            <div class="footer_bottom">
                <p class="last">privacy | site Terms</p>
                <p class="forth_last"> Lenovo©2016</p>
            </div>

        </div>
    </div>
    <!-- 底部结束 -->
    </div>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jwt-decode.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src='js/detail.js'></script>
    <script src="js/jquery.transform.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>