<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>PaaS</title>
    <link rel="shortcut icon" href="images/function.ico">
    <link rel="stylesheet" href="css/modify.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/mask.css">

</head>

<body>
<!-- loding start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<!-- loding end -->
    <!--导航-->
    <div class="xhead" id="xhead" v-cloak>
        <div class="xnav">
            <div class="top_cli">
                <a href="index.html">
                    <img src="images/logo.png" alt="">
                </a>

                <img src="images/topcli.png" id="ph_open" alt="logo">
            </div>
            <ul class="xnav_ul nav-select" id="no_ul">
                <li class="no_margin">
                    <a href="index.html" name="first">
                        <img src="images/logo.png" alt="logo" id="change_src">

                    </a>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Devops Service
                    </a>
                    <ol id="devser" class="ol">
                        <li class="devser_first">

                            <a href="http://iaas.lenovo.com/" target="_blank">
                                IaaS
                            </a>
                        </li>
                        <li>
                            <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                PaaS
                            </a>
                        </li>
                    </ol>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Cloud  Service
                    </a>
                    <ol id="poll_down">
                        <!--<li class="pull_first">-->
                            <!--<a href="javascript:;">-->
                                <!--CMDB-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#" @click="openUrl('http://xops.xpaas.lenovo.com')">XOPS</a>
                        </li>
                        <li>
                            <a href="#" @click="openUrl('http://xmsg.xpaas.lenovo.com')">XMSG</a>
                        </li>
                        <!--<li class="down_last">-->
                            <!--<a href="javascript:;">-->
                                <!--Ticket-->
                            <!--</a>-->
                        <!--</li>-->
                    </ol>
                </li>
            </ul>


            <!-- 点击出现的导航 -->
            <ul class="xnav_ul nav-select" id="xnav_ul">
                <li class="nohover">
                    <a href="javascript:;">
                        Devops Service
                    </a>
                    <div class="ol device" id="device">
                        <p class="device_first">
                            <a href="http://iaas.lenovo.com/" target="_blank">
                                IaaS
                            </a>
                        </p>
                        <p>
                            <a href="http://earth.xpaas.lenovo.com/" target="_blank">
                                PaaS
                            </a>
                        </p>
                    </div>
                </li>
                <li class="nohover">
                    <a href="javascript:;">
                        Cloud  Service
                    </a>
                    <div id="clic_down">
                        <!--<p class="clic_first">-->
                            <!--<a href="javascript:;">-->
                                <!--CMDB-->
                            <!--</a>-->
                        <!--</p>-->
                        <p>
                            <a href="#" @click="openUrl('http://xops.xpaas.lenovo.com')">XOPS</a>
                        </p>
                        <p>
                            <a href="#" @click="openUrl('http://xmsg.xpaas.lenovo.com')">XMSG</a>
                        </p>
                        <!--<p class="down_last">-->
                            <!--<a href="javascript:;">-->
                                <!--Ticket-->
                            <!--</a>-->
                        <!--</p>-->
                    </div>
                </li>
            </ul>

            <ul class="nav_log {{isLogged==true && isLDAP==false?'navlogin':''}}">
                <li class="no_margin nohover" v-on:mouseenter="hover('local')" v-on:mouseleave="leave('local')" >
                    <a v-if="isLogged==false" href="login.html" id="login">
                        {{login}}
                    </a>
                    <a id="local" v-if="isLogged==true&&isLDAP==false" href="javascript:;">{{login}}</a>
                    <span v-if="isLogged==true&&isLDAP==true">{{login}}</span>
                    <div class="change-word" id="change-word">
                        <p>
                            <a>
                                Reset Password
                            </a>
                        </p>
                    </div>
                </li>
                <li>&nbsp;</li>
                <li><a v-show="isLogged" href="#" @click="logout()" style="border:1px solid #fff;
	padding:2px 3px 5px 3px;">Logout</a></li>
                <li id="sign" v-show="!isLogged">
                    <a href="signin.html">
                        Sign in
                    </a>
                </li>

            </ul>

        </div>
    </div>
<!-- change password start -->
<div class="modify" id="modify" v-cloak>
    <div class="mo-cen">                    
            <div class="mo-left mo-right">
                <div class="mo-top">
                    <p class="p-left">Reset Password</p>
                </div>
                <form class="mo-form" id="resetForm" action="http://sso.earth.xpaas.lenovo.com/user/changePassword" method="post" v-cloak>
                    <input type="hidden" name="username" v-model="username">
                    <div class="mo-input ">
                        <p class="mo-p" id="moa-p">Old password</p>
                        <div>
                            <input type="password" value="" id='old-word' v-model = "oldpass" name="oldPassword">
                        </div>
                        <p  v-show="!oldValid" class="error-p">*Please input old password</p>
                        <p style="font-size:16px"  class="error-p"　v-show="error!==''">{{error}}</p>
                    </div>
                    <div class="mo-input ">
                        <p class="mo-p" id="mo-p">New password</p>
                        <div>
                            <input type="password" value="" id='new-word' v-model = "newpass" name="newPassword">
                        </div>
                        <p  v-show="!passValid" class="error-p">*Please input password</p>
                        <p style="font-size:16px"  class="error-p"　v-show="error!==''">{{error}}</p>
                    </div>
                    <div class="mo-input">
                        <p class="mo-p" id="mov-p">Confirm password</p>
                        <div class="">
                            <input type="password" value="" id="con-word" v-model = "conpass" >
                        </div>
                        <p v-show="!conValid" class="error-p">*Please confirm password</p>
                        <p style="font-size:16px"  class="error-p" v-show="error!==''">{{error}}</p>

                    </div>
                    <div class="mo-button">
                        <button type="submit" id="mo-sub"  >
                            Submit
                        </button>
                        <button type="button" id="cancel">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
        </div>
</div>
<!-- change passwor end -->
<!--导航结束-->
    <!-- banner -->
    <div class="banner banner_paas">
        <div class="ba_center">
            <div class="ban_left">
                <p class="paas">
                    <img src="images/paastop.png" alt="" class="paastop"> PaaS
                </p>
                <p style="clear:both;" class="pass_sec">Flexibility, cost savings, ease of maintenance</p>
            </div>
            <img src="images/topbanner.png" alt="">
        </div>
    </div>
    <!-- banner结束 -->
    <!-- 详情 -->

    <div class="decenter" id="second">

        <div class="dea_cen">

            <ul class="center_ul" id="cen_ul">
                <li class="cen_ul_first ">
                    <a href="javascript:;" class="active">
                       Overview 
                    </a>
                    
                </li>
                <li>

                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/tree/master/guide" target="_blank">  User Guide </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/issues/new" target="_blank">
                    Bug&issues
                    </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/tree/master/changelog/" target="_blank">
                    Changelog
                    </a>
                </li>
                <li>
                    <a href="mailto:-Paas-Platform@lenovo.com">
                    Contact Us
                    </a>
                </li>
                <li>
                    <a href="http://gitlab.xpaas.lenovo.com/earth/public-doc/blob/master/guide/faq.md" target="_blank">
                    FAQ
                    </a>
                </li>

            </ul>

            <div class="center_right" id="cen_right">
                <div class="cen_first" id="cen_first">
                    <p class="cen_p">
                        <img src="images/paasleft.png" alt=""> PaaS
                    </p>
                    <img src="images/hr.png" alt="" class="hr">
                
                        <ul class="cen_dea">
                            <li>
                                Fast,simple. provide one-key publish,delopy,rollback and extend.
                            </li>
                            <li>
                                Multiple language and Platform support,inculding Java/PHP/node.js/Tomcat.
                            </li>
                            <li>
                                Auto-dynamic control and adjust resources for quick responding.
                            </li>
                            <li>
                                Prvoide real-time application's status and log by data visualization.
                            </li>
                            <li>
                                Devops support. For whole project lifecycle.Implement continuously integration/delivery,decrease time to market.
                            </li>
                            <li>
                                Multiple cluster support. user can select app running position, immigrate different application between cluster.
                            </li>
                            <li>
                                Mircoservices friendly. support cloud native applications' integral solution.
                            </li>                      
                         </ul>                    
                   
                </div>

                <div class="cen_one">
                </div>

                <div class="cen_one">
                </div>
                <div class="cen_one">
                </div>
                <div class="cen_one">                
                </div>
                <div class="cen_one">                
                </div>

            </div>


        </div>
    </div>


    <!-- 详情结束 -->




    <!-- 底部 -->
    <div class="footer">
        <div class="footer_center" id="footer_center">
            <ul class="footer_ul_first">
                <li class="footerfirst">
                    
							Lenovo Cloud&Serivce
						
                </li>
                <li>
                    <a href="javascript:;">
							Mangement Tools
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Computing
						</a>
                </li>
            </ul>
            <ul class="footer_ul_first footer_ul_cen">
                <li class="footerfirst">
                   
							Support
						
                </li>
                <li>
                    <a href="javascript:;">
							Getting Start
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Documentation
						</a>
                </li>
            </ul>
            <ul class="footer_ul_first footer_ul_rig">
                <li class="footerfirst">
                   
							Contact Us
						
                </li>
                <li>
                    <a href="javascript:;">
							Email
						</a>
                </li>
                <li>
                    <a href="javascript:;">
							Phone
						</a>
                </li>
            </ul>
            <div class="footer_bottom">
                <p class="last">privacy | site Terms</p>
                <p class="forth_last"> Lenovo©2016-2017</p>
            </div>

        </div>
    </div>
    <!-- 底部结束 -->
    </div>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jwt-decode.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src='js/detail.js'></script>
    <script src="js/jquery.transform.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/index.js"></script>
    <script src="js/reset.js"></script>
</body>

</html>