<!--<h3>Home Component</h3>-->
<!--导航-->
<div class="xhead">
	<div class="xnav">
		<ul class="xnav_ul">
			<li class="no_margin">
				<a href="javascript:;">
					Lenovo 联想
				</a>
			</li>
			<li>
				<a href="javascript:;">
				IaaS
				</a>
			</li>
			<li>
				<a href="javascript:;">
				PaaS
				</a>
			</li>
			<li>
				<a href="javascript:;">
					产品
				</a>
			</li>
		</ul>
		<div class="texttab">
			<p>
				<span>中文</span>/<span>English</span>
			</p>
		</div>
		
			<ul class="nav_log">
				<li class="no_margin">
					<a href="javascript:;">
						登录
					</a>
				</li>
				<li>
					<a href="javascript:;">
						注册
					</a>
				</li>
			</ul>
		
	</div>
</div>
<!--导航结束-->
<!--第一屏-->
<div class="top_banner">
	<video autoplay="autoplay" loop="loop">
        <source src="/assets/file.mp4" type="video/mp4" />          
    </video> 
    <div class="banner_first">
    	<h4>Hello PaaS and Iaas</h4>
    	<p>简化现代应用程序的开发、运行和维护管理</p>
    	<span class="spa">
    		查看详情
    	</span>
    </div>
</div>
<!--第一屏结束-->


	<!--第二屏开始-->
	
	<div class="cen_banner">
		<div class="cen_left opt">
			<h3>IaaS</h3>
			<p>
				shake it like I`m supposed to do! 	<br>
				We know that shit ain't real Com on now,make it stop
			</p>			
			<p>
				I'm all 'bout that bass,
			</p>
			<p class="cen_more">
				To view more > >
			</p>			
		</div>
		<img src="/images/iaas.png" alt="iaas" class="cen_right opta" />
	</div>
	
	<!--第二屏结束-->
	
	<!--第三屏开始-->
	   <div class="th_banner">
	   	  <img src="/images/paas.jpg" alt="paas" class="th_left" />
	   	  <div class="th_right">
			
			<p>
				shake it like I`m supposed to do! 	<br>
				We know that shit ain't real Com on now,make it stop
			</p>
			<h3>PaaS</h3>
			<p>
				I'm all 'bout that bass,
			</p>
			<p class="cen_more">
				To view more > >
			</p>			
		</div>
	   </div>
	<!--第三屏结束-->



 <!-- 底部 -->
     <div class="footer" id="top4">
     	<div class="footer_center">
     		<ul class="footer_ul">
     			<li class="footerfirst">
     				<h4>产品中心</h4>
     				<ol>
     					<li>
     						<a href="javascript:;">
     							热销榜单
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							核心产品
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 新闻资讯
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 企业招聘
     						</a>
     					</li>
     				</ol>
     			</li>

     			<li>
     				<h4>账号支付</h4>
     				<ol>
     					<li>
     						<a href="javascript:;">
     							企业介绍
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							最新活动
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 工作理念
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 合作商
     						</a>
     					</li>
     				</ol>
     			</li>

            <li>
     				<h4>联系我们</h4>
     				<ol>
     					<li>
     						<a href="javascript:;">
     							信誉保证
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							合作加盟
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 工作理念
     						</a>
     					</li>
     					<li>
     						<a href="javascript:;">
     							 关于我们
     						</a>
     					</li>
     				</ol>
     			</li>

     		</ul>

     		<div class="serve">
     			<p>全国服务热线</p>
     			<h4>400 8868 400</h4>
     		</div>
     		<img src="/images/code.jpg" alt="二维码">
     		<p class="last">IAAS AND PAAS有限公司版权所有    Lenovo  ALL RIGHT RESERVED</p>
     	</div>
     </div>
     <!-- 底部结束 -->
